#factory
factory_time = 5
factory_productTypes = "First, Second, Third"
factory_number = 3

#train
train_numberOfTrains = 3
train_productTypes = "First, Second, Third"
train_numberOfProducts = "1, 2, 3"
train_timeAmortisation = 100
train_timeCreate = 10

#paths
paths_numberForward = 3
paths_numberBackward = 3
paths_lengthsForward = "4, 8"
paths_lengthsBackward = "6, 7"

#consumer
consumer_number = 3
consumer_time = 5
consumer_productTypes = "First, Second, Third"
consumer_numbersOfProducts = "1, 3, 1"


